#tableOfContents-placeholder-title-textEl{
	visibility: hidden;
}

#tableOfContents-placeholder-title {
	transform: none;
	left: 0px !important;
}

#tableOfContents_header-title-iconEl {
	display: none;
}